* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --button-color: #f00314;
  --white: #fff;
  --black: #000;
  --grey: #ddd;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}
ul,
nav {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
  list-style-type: none;
}
header h2 {
  text-transform: uppercase;
}
header nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
header .nav-bar {
  display: flex;
  padding-top: 3%;
  padding-left: 50%;
}
header nav li {
  margin: 0 15px;
}
header nav li:first-child {
  margin-left: 0;
}
header nav li:last-child {
  margin-right: 0;
}
/*
.above-footer nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.above-footer nav li {
  margin: 0 15px;
}
.above-footer nav li:first-child {
  margin-left: 0;
}
.above-footer nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header nav li {
    margin: 0 7px;
  }
}*/

@media screen and (min-device-width: 300px) and (max-device-width: 700px) {
  .about-area {
    padding: 40px 10px;
  }
  .preci {
    display: flex;
    flex-direction: column;
  }
  .passion {
    align-items: left;
    padding: 10px;
    text-align: justify;
    padding-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
  }
  .precious-img {
    background-image: url(images/Precious\ Birdsong\ Headshot.jpg);
    background-size: cover;
    height: 900px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .preci-tab {
    width: 100%;
  }
  .preci-tab h2 {
    margin-top: 7%;
  }
  .services-content {
    padding: 40px 10px;
  }
  .about-content li p {
    font-size: 28px;
    padding-top: 1.5%;
  }
  .crew-content li p {
    font-size: 28px;
    padding-top: 1.5%;
  }
  .crew-content li {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .section-title {
    font-size: 30px;
  }
  .above-footer {
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: var(--white);
    flex-direction: column;
    align-items: left;
    flex-basis: 100%;
    font-size: 25px;
    opacity: 0.8;
    content: "";
    height: fit-content;
    padding: 0px 0px;
    margin-top: 4%;
  }
  .foot-img {
    background-image: url(images/DFTS_mobile1.jpg);
    position: absolute;

    left: 0;
    width: 100%;
    height: 53.5vh;
    -webkit-backgroud-size: cover;
    background-size: 100% 100%;
    z-index: -1;
  }
  .foot-img:after {
    content: "";
    position: absolute;

    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  #mission-quote {
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    padding: 20px;
    line-height: 1.5;
    color: var(--button-color);
    font-size: 17px;

    margin: 10px;
  }
  .mission-img {
    align-items: center;
    text-align: center;
    content: "";
    height: 800px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .quick_links {
    margin-top: 6%;
    height: 100%;
  }
  .quick_links ul {
    margin-top: 1%;
  }
  .volunt {
    height: 100%;
    padding-top: 3%;
  }
  .volunt li {
    line-height: 2em;
  }
  .addre {
    padding-top: 3%;
    height: 100%;
  }

  .addre p {
    padding-left: 3%;
  }
  .addre ul {
    margin-left: -9%;
  }
  .above-footer ul {
    padding-top: 3%;
  }
  .above-footer li {
    padding: 10px;
  }
  .above-footer div {
    padding-left: 10%;
  }

  .banner-area,
  .about-area,
  .video,
  .services-area,
  .contactus,
  .sec,
  .crew-area,
  .pro,
  .leg,
  .donate,
  .pre {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
  }
  header .nav-bar {
    display: flex;
    padding-top: 3%;
    padding-left: 25%;
  }
  .sec {
    line-height: 2;
  }
  section p {
    text-align: center;
    line-height: 2;
    padding: 0 20px;
  }
  .crew-area p {
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
  }
  .crew-area {
    background-color: var(--white);
    height: 100%;
  }
  .crew-area ul {
    flex-direction: column;
  }
  .crew-area h2 {
    font-size: 30px;
  }
  .crew-area h4 {
    font-size: 40px;
  }
  .crew-area h5 {
    font-size: 28px;
  }
  .crew-area p {
    font-size: 28px;
  }
  #crew-tab p {
    margin-bottom: 30px;
    height: 100%;
  }
  .services-content li h4 {
    padding: 10px;
    padding-top: 6%;
  }
  .programs {
    display: flex;
    flex-direction: column;
  }
  .program-img {
    background-image: url(images/Our_Programs.jpg);
    background-size: cover;
    height: 900px;
    width: 100%;
    border-radius: 15px;
    align-self: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    margin-bottom: 6%;
  }
  .program-tab p {
    text-align: justify;
    padding-top: 70px;
    font-size: 35px;
  }
  .program-tab h2 {
    font-size: 40px;
  }

  .program-tab ul {
    margin-top: -15px;
    margin-left: 40px;
  }
  .program-tab li {
    padding: 10px;
    list-style-type: circle;
  }
  .program-tab {
    padding-top: 30px;
  }
  .scholarship {
    align-items: left;

    text-align: justify;
    padding-top: 5%;
  }
  .scholarship h2 {
    padding-bottom: 4%;
    font-size: 40px;
  }
  .scholarship p {
    text-align: justify;
    padding-top: 20px;
  }
  .scholarship ul {
    margin-left: 40px;
    padding-top: 5%;
  }
  .scholarship li {
    padding: 10px;
    list-style-type: square;
    text-align: initial;
    line-height: 2;
  }
  .legacy1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 60px;
  }
  .legacy1 img {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .legacy1 p {
    padding: 20px;
    padding-top: 50px;

    text-align: justify;
    align-items: center;
    font-size: 18px;
  }
  .legacy2 {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    padding-top: 60px;
  }
  .legacy2 img {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .legacy2 p {
    padding: 20px;
    padding-top: 50px;

    text-align: justify;
    align-items: center;
    font-size: 18px;
  }
  .legacy3 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 60px;
  }
  .legacy3 img {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .legacy3 p {
    padding: 20px;
    padding-top: 50px;

    text-align: justify;
    align-items: center;
    font-size: 18px;
  }
  .legacy4 {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    padding-top: 60px;
  }
  .legacy4 img {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .legacy4 p {
    padding: 20px;
    padding-top: 50px;

    text-align: justify;
    align-items: center;
    font-size: 18px;
  }
  .leg h2 {
    font-size: 30px;
  }
  .donate h3 {
    padding: 20px;

    text-align: center;
    align-items: center;
    padding-top: 20px;

    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 50px;
  }
}
/*
@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}
@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}*/

.banner-area {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}
.banner-area .banner-img {
  background-image: url(images/2.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backgroud-size: cover;
  background-size: cover;
  z-index: -1;
}
.banner-area .banner-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}

.banner-area h1 {
  margin-bottom: 15px;
  font-size: 65px;
  font-family: "Ubuntu", sans-serif;
  color: var(--white);
}
.banner-area h3 {
  margin-bottom: 40px;
  font-size: 25px;
}
.banner-area a.banner-btn {
  padding: 15px 35px;
  background: crimson;
  border-radius: 50px;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .banner-area {
    min-height: 600px;
  }
  .banner-area h1 {
    font-size: 32px;
  }
  .banner-area h3 {
    font-size: 20px;
  }
  .banner-area a.banner-btn {
    padding: 15px 40px;
  }
}
ul.about-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-content li {
  background-clip: content-box;

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.about-left {
  flex-basis: 40%;
  background-image: url(images/1.jpg);
}
ul.crew-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;
}
.crew-content li {
  background-clip: content-box;

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.crew-left {
  flex-basis: 40%;
  background-image: url(images/1.jpg);
} /*
.main-logo {
  flex-basis: 40%;
  max-height: 18%;
  max-width: 25%;
  object-fit: cover;
  vertical-align: bottom;
}*/
.main-logo {
  background-image: url(images/White_Prime.png);
  position: absolute;

  left: 30px;
  top: 25px;

  width: 240px;
  height: 160px;
  -webkit-backgroud-size: cover;
  background-size: cover;
  z-index: 1;
}
.main-logo:after {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
}

.nav-bar {
  list-style-type: none;
  font-size: 18px;
}

.nav-bar ul {
  display: none;
  list-style-type: none;
}
.nav-bar li:hover > ul {
  display: block;
}
.drop li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}
.drop li i {
  color: var(--button-color);
  margin-bottom: 15px;
  padding-right: 50px;
}
.drop a {
  padding-bottom: 5px;
}

.drop-down {
  margin-left: 0%;
}
.crew {
  margin-left: -50px;
}
.drop li {
  padding-top: 5px;
}
/*
@media (max-width: 1000px) {
  .about-left,
  .about-right {
    flex-basis: 100%;
  }
  .about-content li {
    padding: 8px;
  }
}
@media (max-width: 1000px) {
  .crew-left,
  .crew-right {
    flex-basis: 100%;
  }
  .crew-content li {
    padding: 8px;
  }
}
*/
ul.drop {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.drop {
  flex-direction: row;
  text-align: center;
}
.drop i {
  flex-basis: 33%;
  font-size: 20px;

  color: var(--button-color);
  padding: 0 30px;
}

.about-right {
  flex-basis: 60%;
}
.about-area p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}
.services-area p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}

.crew-right {
  flex-basis: 60%;
}
.crew-right p {
  text-align: justify;
  font-size: 20px;
}

.section-title {
  font-size: 30px;
  margin-bottom: 5%;
  padding: 20px;
}
.about-right h2 {
  margin-bottom: 3%;
}
.crew-right h2 {
  margin-bottom: 3%;
}
.about-btn {
  padding: 15px 35px;
  align-content: center;
  background: var(--button-color);
  border-radius: 50px;

  color: #fff;
}

.about-btn:hover {
  background: var(--white);
  border: 1.5px solid var(--button-color);
  color: var(--button-color);
  font-weight: bold;
}
.above-footer li:hover {
  color: var(--button-color);
  font-weight: bold;
}
/*
@media (max-width: 1000px) {
  .about-left,
  .about-right {
    flex-basis: 100%;
  }
  .about-content li {
    padding: 8px;
  }
}
*/
#services {
  background: var(--white);
}
ul.services-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.services-content li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}
.services-content li i {
  font-size: 50px;
  color: var(--button-color);
  margin-bottom: 25px;
}

.services-content li h5 {
  padding-bottom: 20px;
}
.services-content li p {
  margin: 0;
  text-align: justify;
  align-items: center;

  padding-left: 20px;
}

/*
@media (max-width: 1000px) {
  .services-content li {
    flex-basis: 100%;
    margin-bottom: 65px;
  }
  .services-content li:last-child {
    margin-bottom: 0;
  }
  .services-content li p {
    padding: 0;
  }
}*/
#contact {
  background: black;
  color: #fff;
}
ul.contact-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-content li {
  padding: 0 30px;
  flex-basis: 33%;
  text-align: center;
}
.contact-content li i {
  font-size: 50px;
  color: #fff;
  margin-bottom: 25px;
}
.contact-content li p {
  margin: 0;
}
/*
@media (max-width: 1000px) {
  .contact-content li {
    flex-basis: 100%;
    margin-bottom: 65px;
  }
  .contact-content li:last-child {
    margin-bottom: 0;
  }
  .contact-content li p {
    padding: 0;
  }
}*/
footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;

  color: #fff;
  background-color: #000;
  padding: 30px 0;
  width: 100%;
}
footer p {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.socia a {
  padding-left: 20px;
  align-items: right;
  text-align: right;
}
.socia {
  width: 100%;
  text-align: right;
  padding-right: 80px;
}
.flex-outer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;

  padding: 60px 0;
  margin-bottom: 30px;
}
.flex-outer li {
  padding-bottom: 20px;
  padding: 20px;
}

#first-name {
  width: 25%;
  padding: 10px;
  margin-left: 20px;
  background: #fff;
}

#email {
  width: 25%;
  padding: 10px;
  margin-left: 20px;
  background: #fff;
}
#phone {
  width: 25%;
  padding: 10px;
  margin-left: 20px;
  background: #fff;
}
#message {
  width: 80%;
  padding: 30px;

  background: #fff;
}
@media screen and (min-device-width: 1000px) {
  .above-footer {
    list-style-type: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: var(--white);
    flex-direction: row;

    flex-basis: 100%;

    opacity: 0.8;
    content: "";
    height: 540px;
  }
  .passion {
    align-items: left;

    text-align: justify;
    padding-top: 20px;
  }
  .preci {
    display: flex;
    flex-direction: row;
  }
  .preci-tab {
    padding-left: 30px;
    width: 700px;
  }
  .precious-img {
    background-image: url(images/Precious\ Birdsong\ Headshot.jpg);
    background-size: cover;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  section {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
  }
  .donate h3 {
    padding: 20px;
    width: 700px;
    text-align: justify;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  .legacy1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 60px;
  }
  .legacy1 img {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .legacy1 p {
    padding: 20px;
    padding-top: 50px;
    width: 400px;
    text-align: justify;
    align-items: center;
    font-size: 18px;
  }
  .legacy2 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 60px;
  }
  .legacy2 img {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .legacy2 p {
    padding: 20px;
    padding-top: 50px;

    width: 400px;
    text-align: justify;
    align-items: center;
    font-size: 18px;
  }
  .legacy3 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 60px;
  }
  .legacy3 img {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .legacy3 p {
    padding: 20px;
    padding-top: 50px;

    width: 400px;
    text-align: justify;
    align-items: center;
    font-size: 18px;
  }
  .legacy4 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 60px;
  }
  .legacy4 img {
    height: 500px;
    width: 700px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .legacy4 p {
    padding: 20px;
    padding-top: 50px;

    width: 400px;
    text-align: justify;
    align-items: center;
    font-size: 18px;
  }
  .program-tab {
    padding: 15px;
    padding-top: 30px;
    padding-left: 30px;
    width: 700px;
  }
  .program-tab p {
    text-align: justify;
    padding-top: 20px;
  }

  .program-tab ul {
    margin-top: -15px;
    margin-left: 40px;
  }
  .program-tab li {
    padding: 10px;
    list-style-type: square;
  }
  .scholarship {
    align-items: left;

    text-align: justify;
    padding-top: 20px;
  }
  .scholarship p {
    text-align: justify;
    padding-top: 20px;
  }
  .scholarship ul {
    margin-top: -15px;
    margin-left: 40px;
  }
  .scholarship li {
    padding: 10px;
    list-style-type: circle;
  }
  .program-img {
    background-image: url(images/Our_Programs.jpg);
    background-size: cover;
    height: 700px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  section p {
    text-align: center;

    padding: 0 20px;
    line-height: 2;
  }
  .programs {
    display: flex;
    flex-direction: row;
  }
  .services-content li h4 {
    font-size: 20px;
    padding: 10px;
  }
  .crew-area p {
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
  }
  .crew-area {
    background-color: var(--white);
  }
  #crew-tab p {
    margin-bottom: 30px;
    height: 90px;
  }
  #mission-quote {
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    padding: 20px;
    line-height: 1.5;
    color: var(--button-color);
    font-size: 17px;
    text-align: center;
    margin: 10px;
  }
  .mission-img {
    align-items: center;
    text-align: center;
    content: "";
    height: 600px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .foot-img {
    background-image: url(images/DFTS_new.jpg);
    position: absolute;

    left: 0;
    width: 100%;
    height: 540px;
    -webkit-backgroud-size: cover;
    background-size: 100% 100%;
    z-index: -1;
  }
  .foot-img:after {
    content: "";
    position: absolute;

    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  .quick_links {
    height: 325px;
    margin-left: -1%;
  }
  .quick_links ul {
    margin-top: 8%;
  }
  .contactus {
    height: 1100px;
    margin-top: -50px;
  }
  .volunt {
    height: 325px;
    padding-left: 5%;
  }
  .volunt li {
    line-height: 2em;
  }
  .addre {
    height: 325px;
    padding-left: 5%;
  }

  .addre p {
    padding-left: 3%;
  }
  .above-footer ul {
    padding-top: 8%;
  }
  .above-footer li {
    padding: 10px;
  }
}
.foot-logo {
  background-image: url(images/White_Prime.png);
  position: absolute;
  align-items: right;
  text-align: right;
  right: 5%;
  margin-top: 20%;
  width: 240px;
  height: 160px;
  -webkit-backgroud-size: cover;
  background-size: cover;
  z-index: 1;
}
/* .foot-logo:after {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
} */

.cont {
  display: flex;
  flex-direction: column;
}

.inadd {
  display: flex;
  flex-direction: row;
}
.inadd .fa {
  font-size: 25px;
}
.above-footer li {
  width: 100%;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.cntr {
  align-items: left;
  text-align: left;
  flex-direction: column;
  height: 200px;
  width: 250px;
}

.bottom-logo {
  flex-basis: 100%;
  max-height: 220px;
  max-width: 245px;
  object-fit: cover;
  vertical-align: bottom;
  padding-top: 25px;
  padding-left: 10px;
  margin-left: 20px;
}
.above-footer .nav-bar {
  padding-top: 120px;

  font-weight: bold;
  align-items: center;
}
.social {
  padding: 20px;
  flex-direction: row;
  margin-bottom: -70px;
}
#fb i:hover {
  color: #4060a5;
}
#tweet i:hover {
  color: #00abe3;
}
#insta i:hover {
  color: #e95950;
}

.social i {
  margin-top: 50px;
  padding: 18px;
  font-size: 40px;
}
.cntr h3 {
  font-size: 30px;
}
.client {
  height: 60%;
  width: 80%;
}
#foot-nav li {
  font-size: 20px;
  margin-left: 20px;
  justify-content: left;
  padding: 5px;
}
header .nav-bar li:hover {
  color: var(--button-color);
}

.mission {
  margin-left: -50px;
  padding-top: 20px;
}
#foot-abt {
  margin-top: 20px;
  margin-left: -40px;
}
#crew-tab li {
  margin-bottom: 140px;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.heading {
  padding: 20px;
}
#form-submit {
  padding: 15px 35px;
  background: transparent;
  border-radius: 50px;
  border-color: #fff;
  outline: #fff;
  color: #fff;
}
.wrapper {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;

  max-width: 700px;

  background: var(--white);
  padding: 40px;
  margin: 50px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}
.wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--button-color);
  margin-bottom: 50px;
  font-size: 35px;
}

.address {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: var(--button-color);
  margin-bottom: 50px;
}
.inner-address p {
  font-size: 12px;
}
.inner-address .fa {
  font-size: 30px;
  margin-bottom: 10px;
}
.wrapper .form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}
.wrapper .form-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--button-color);
  text-align: center;
}

.wrapper .input-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 10px;
}
.wrapper .inner-msg {
  width: 100%;
  margin-bottom: 10px;
}
.wrapper .inner-text {
  margin-bottom: 10px;
  border: 0;
  outline: none;

  padding: 8px 10px;
}
.wrapper .msg > input {
  width: 600px;
  margin-right: -10px;
  margin-left: -10px;
  margin-top: -10px;
  height: 80px;
  border: 1px solid var(--button-color);
}
.wrapper .input > input {
  border: 0;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid var(--button-color);
}
.input-form .input {
  width: 290px;
}

.wrapper .btn {
  border: 1px solid var(--button-color);
  padding: 10px 20px;
  color: var(--button-color);
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 20px;
}
.wrapper .btn:hover {
  background: var(--button-color);
  color: var(--white);
}
.social {
  display: flex;
  justify-content: center;
  color: var(--button-color);
}
.inner-social .fa {
  margin: 20px 20px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

::-webkit-input-placeholder {
  color: var(--button-color);

  padding: 8px 10px;
}
::-webkit-placeholder {
  color: var(--button-color);

  padding: 8px 10px;
}
::-moz-placeholder {
  color: var(--button-color);

  padding: 8px 10px;
}
@media screen and (max-width: 640px) {
  .input-form {
    flex-direction: column;
  }
  .input:first-child > input {
    margin-bottom: 20px;
  }
  .input:last-child > input {
    margin-top: 20px;
  }
  .form .input > input {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .address,
  .social {
    flex-direction: column;
    align-items: center;
  }
  .inner-address,
  .inner-social {
    margin-bottom: 20px;
  }
}
.video {
  background-color: var(--black);
}

.client {
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.mission-content h2 {
  padding: 20px;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}

#mission-para {
  padding: 20px;
  padding-top: 5%;
  text-align: justify;
  align-items: center;
  font-size: 17px;
}
.program-button {
  display: flex;
  flex-direction: row;
  padding: 30px;
}
#prog-volt {
  margin-left: 20px;
}

.lanise-img {
  background-image: url(images/La\'Nise\ Calhoun\ Headshot.jpg);
  background-size: cover;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.linda-img {
  background-image: url(images/Linda\ Cooke\ Headshot.jpeg);
  background-size: cover;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.kelli-img {
  background-image: url(images/Kelli_Smith.jpg);
  background-size: cover;
  height: 500px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.preci-tab h2 {
  color: var(--button-color);
}
.preci-tab p {
  text-align: justify;
  padding: 15px;
  padding-top: 30px;
  padding-left: 30px;
  width: 700px;
}

.passion h3 {
  padding: 25px;
  color: var(--button-color);
}
.passion p {
  text-align: justify;
  padding-top: 20px;
}
.passion ul {
  margin-top: -15px;
  margin-left: 40px;
}
.passion li {
  padding: 10px;
  width: 900px;
  line-height: 1.5;
  list-style-type: circle;
}
.li {
  line-height: 1.8;
}
.head {
  padding-bottom: 50px;
  font-size: 35px;
}

.bet {
  padding-top: 30px;
}

.cont-img {
  background-image: url(images/1.jpg);
  position: absolute;

  left: 0;
  width: 100%;
  height: 1000px;
  -webkit-backgroud-size: cover;
  background-size: cover;
  z-index: -1;
}

.contactus .cont-img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1000px;
  background-color: #000;

  opacity: 0.8;
  left: 0px;
} /*
.banner-area {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}
.banner-area .banner-img {
  background-image: url(2.jpg);
  position: absolute;
  
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backgroud-size: cover;
  background-size: cover;
  z-index: -1;
}
.banner-area .banner-img:after {
  content: "";
  position: absolute;
  
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
} */

.donate {
  padding: 20px;
}
.donate h1 {
  padding: 20px;
  font-size: 40px;
  font-weight: bolder;
  color: var(--button-color);
  text-align: center;
}
#donat {
  list-style-type: none;
}
.donate1 {
  background-image: url(images/Community.jpg);
  background-size: cover;
  content: "";
  height: 500px;
  width: 900px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 20px;
  margin-top: 80px;
}

.donate h2 {
  padding: 40px;
}
.volunteer {
  padding-bottom: 30px;
}
.recur {
  color: var(--button-color);
  padding: 20px;
}
.amount {
  padding: 40px;
}
#other {
  width: 100px;
  align-items: center;
}
.recur > input {
  background-color: var(--button-color);
}
